<mat-stepper linear #stepper>
  <mat-step [stepControl]="basketForm" [editable]="IsOrderEditable" [completed]="isOrderCompleted">
    <form>
      <ng-template matStepLabel>Szczegóły zamówienia</ng-template>
      <div class="order-row">
        <div class="order-details">
          <h3>Twoje zamówienie</h3>
          <lib-order-detail-item [basketItem]="item" *ngFor="let item of basketItems"></lib-order-detail-item>
          <p *ngIf="basketItems.length === 0">Twoje zamówienie jest puste</p>
        </div>
        <div class="order-summary" *ngIf="basketItems.length > 0">
          <h3>Podsumowanie zamówienia</h3>
          <div class="order-summary-item">
            <span>Suma: </span>
            <strong>{{totalPrice | number:'1.2-2'}} zł</strong>
          </div>
          <div class="order-summary-item">
            <span>Koszt dostawy: </span>
            <strong>{{deliveryCost | number:'1.2-2'}} zł</strong>
          </div>
          <div class="order-summary-item">
            <span>Do zapłaty: </span>
            <strong>{{totalPrice + deliveryCost | number:'1.2-2'}} zł</strong>
          </div>
        </div>
      </div>
      <div>
        <button mat-button *ngIf="basketItems.length === 0" (click)="goToHome()">Przejdź do strony głównej</button>
        <button mat-button matStepperNext *ngIf="basketItems.length > 0">Przejdź do metody dostawy</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="deliveryForm" [editable]="IsDeliveryEditable" [completed]="isDeliveryCompleted">
    <form [formGroup]="deliveryForm">
      <ng-template matStepLabel>Metoda dostawy</ng-template>
      <div class="delivery">

        <div class="delivery__client-info">
          <div>
            <mat-form-field>
              <mat-label>Imię</mat-label>
              <input matInput formControlName="name" required />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Nazwisko</mat-label>
              <input matInput formControlName="lastname" required />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Ulica</mat-label>
              <input matInput formControlName="street" required />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Numer mieszkania</mat-label>
              <input matInput formControlName="flat" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Kod pocztowy</mat-label>
              <input matInput formControlName="streetCode" required />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Miasto</mat-label>
              <input matInput formControlName="city" required />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Adres e-mail</mat-label>
              <input matInput formControlName="email" type="email" required />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Numer telefonu</mat-label>
              <input matInput formControlName="phone" type="number" required />
            </mat-form-field>
          </div>
        </div>
        <div class="delivery__method">
          <h3>Wybierz metodę dostawy</h3>
          <mat-radio-group formControlName="method">
            <mat-radio-button value="kurier" checked>Kurier (odbiór do 24h)</mat-radio-button>
            <mat-radio-button value="pocztapolska">Poczta Polska (odbiór do 5 dni roboczych)</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Wróć</button>
        <button mat-button matStepperNext>Przejdź do metody płatności</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="paymentForm" [editable]="IsPaymentEditable" [completed]="isPaymentCompleted">
    <form [formGroup]="paymentForm">
      <ng-template matStepLabel>Metoda płatności</ng-template>
      <div class="payment">
        <h3>Wybierz metodę płatności</h3>
        <mat-radio-group formControlName="method">
          <mat-radio-button value="online" checked>Płatność online (natychmiast)</mat-radio-button>
          <mat-radio-button value="poczta">Poczta Polska (zaksięgowanie do 3 dni roboczych)</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <button mat-button matStepperPrevious>Wróć</button>
        <button mat-button (click)="payment(stepper)">Kupuję z obowiązkiem zapłaty</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Zamówienie złożone</ng-template>
    <p>Dziękujemy za złożenie zamówienia.</p>
    <p *ngIf="order != null">Twoje zamówienie otrzymało numer <strong>{{ order!.id }}</strong></p>
    <p>Na podany adres e-mail otrzymasz potwierdzenie zamówienia</p>
    <p>Status Twojej płatności to: <strong [ngClass]="{'success': paymentStatus === 'SUCCESS', 'wait': paymentStatus === 'WAIT', 'rejected': paymentStatus === 'REJECTED'}">{{ getPaymentStatus(paymentStatus) }}</strong></p>
    <button mat-flat-button *ngIf="order != null && (order!.payment.method !== 'poczta' && paymentStatus !== 'SUCCESS')" color="accent" (click)="rePay()">Ponów płatność</button>
    <p *ngIf="order != null && order!.payment.method === 'poczta'">
      Dane do przelewu:<br />
      Odbiorca: <strong>KupujTo sp. z o.o.</strong><br />
      Numer konta bankowego: <strong>97 8369 0008 1536 2244 4024 1391</strong><br />
      Tytuł przelewu: <strong>Zamówienie nr {{ order!.id }}</strong><br />
      Kwota: <strong>{{ order!.totalPrice + order!.deliveryCost | number:'1.2-2' }} zł</strong>
    </p>
    <div style="margin-top: 20px;">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="goToHome()">Przejdź do strony głównej</button>
    </div>
  </mat-step>
</mat-stepper>
