<h2 mat-dialog-title>{{  product.name  }}</h2>
<mat-dialog-content class="mat-typography">
  <div class="details-row">
    <img [src]="product.image" [alt]="product.name" />
    <div class="price">
      <span *ngIf="product.promoPercentValue">{{ product.promoPercentValue }}%</span>
      <p *ngIf="product.promoPercentValue"><small>{{ product.price | number:'1.2-2' }} zł</small>{{ product.promoPrice | number:'1.2-2' }} zł</p>
      <p *ngIf="!product.promoPercentValue">{{ product.price | number:'1.2-2' }} zł</p>
    </div>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod sapien vulputate, luctus ante id, accumsan arcu. Cras ullamcorper nec tellus vulputate pretium. In malesuada rutrum commodo. Quisque dictum iaculis orci. Mauris congue eget lacus vel ullamcorper. Quisque tempor fermentum dapibus. Quisque vehicula fermentum nisl sit amet facilisis. Pellentesque ultricies placerat ligula ut imperdiet. Fusce tristique, arcu sit amet vestibulum feugiat, felis nisl aliquam diam, sed elementum orci risus at tellus. Vivamus posuere metus ut purus gravida, sit amet faucibus arcu tempus. Donec quis ante vitae orci porta consectetur vel sed mauris. Maecenas efficitur ante non nisi tempus porta.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Zamknij</button>
  <button mat-flat-button color="accent" (click)="addToCart(product)">Dodaj do koszyka</button>
</mat-dialog-actions>


